*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg,#c626a4,#b1ae56);
    padding: 10px;
}
.to-do-app{
    width: 100%;
    max-width: 600px;
    background-color: aliceblue;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.to-do-app h1{
    color: #c626a4;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.to-do-app h1 img{
    width: 50px;
    margin-left: 10px;
    border-radius: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #b1ae56;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 15px 10px 15px 50px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/loading.png);
    background-size: cover;
    background-position: center;
    top: 15px;
    left: 10px;
}
ul li.checked{
    color: #b1ae56;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check_mark.jpg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #b1ae56;
}